body {
    margin: 0;
    overflow: auto;
  }
  
  #videoFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }

  .youtubelogo {
    max-width: 100px; 
    width: 100%; 
    height: auto; 
    margin-left: 10.4%;
    animation: parpadeo 1s infinite;
  }
  
  @keyframes parpadeo {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}

    }
  
  .img__p {
    color: #ffffff;
    margin-left: 65%;
    margin-top: -3%;
  }
  .contenido {
    position: relative;
    z-index: 1; 
    color: white;
    text-align: center;
    padding: 50px;
  }
  
  @font-face {
    font-family: 'zygo';
    src:url(FUENTES/ZYGO.TTF);
    font-weight: normal;
    font-style:normal;
}

.titulo {
    font-family: "zygo";
    font-weight: 10000;
    padding-top: 1%;
    text-align: center;
    font-size: 80px;
}

.subtitulo {
    font-family: "zygo";
    font-weight: 1000;
    margin-top: -8%;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    
}

.imghome {
    height: 150px;
    padding-left: 41%;

}


.icon {
    font-size: 45px;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    left: 10px; 
    z-index: 1001;
    margin-top: -260px;
    
    
  }
  
  
  .close-icon {
    display: none;
    font-size: 30px;
    position: absolute;
     margin-top: -260px;
    right: 20px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1001;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    
    transition: left 0.3s ease-in;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    padding: 15px;
    border-bottom: 1px solid #8c00ff;
  }
  
  .menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;

  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .menu {
    left: 0;
  }
  
  input[type="checkbox"]:checked ~ .close-icon {
    display: block;

  }
  
  input[type="checkbox"]:checked ~ .icon {
    display: none;
  }

  .art__h1 {
    text-align: center;
    color: #ffffff;
  }

  .art__button {
        padding: 10px 20px;
        width: 1360px;
    left: auto;
    bottom: auto;
    
    }

    .subtitulo__galeria {
      font-family: "zygo";
      font-weight: 1000;
      margin-top: -5%;
      text-align: center;
      font-size: 40px;
      color: #ffffff;
    }  
    
    .photo-panel {
        margin-top: 20px;
      }
      
   
      .photo-panel img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      .servicio {
        margin-top: -12%;
        text-align: center;
        font-family: "zygo";

      }

      .textarea {
        width: 1000px;
        height: 80px;
      }

      .form__nom {
        margin-left: -51%;
        font-family: "zygo";
        padding-left: 7% ;
      }

      .form__tel {
        margin-left: -51%;
        font-family: "zygo";
      }

      .form__mail {
        margin-left: -55%;
        font-family: "zygo";
        padding-left: -3%;
      }

      .form__msj {
        font-family: "zygo";
        margin-left: -67%;
      }

      .card-img-top {
        margin-top: -150px;
        height: 600px;
     }
